* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

#app {
  min-height: 100%;
}

nav {
  height: 60px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
nav .m-nav {
  background-color: red;
  height: 40px;
  width: 40px;
}
nav .m-nav .bar {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.home-hero {
  background-image: url(../img/home-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.home-hero h1 {
  font-size: 55px;
  margin-bottom: 40px;
}
.home-hero a {
  padding: 9px 20px;
  background-color: #cb2d2d;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}
.home-hero a:hover {
  background-color: #ad2727;
}

.home-desc {
  margin: 70px 60px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home-desc p {
  margin: 20px;
  font-size: 20px;
}
.home-desc h3 {
  font-size: 40px;
}

@media screen and (max-width: 440px) {
  #app .home-hero h1 {
    font-size: 35px;
  }
  #app .home-hero a {
    padding: 8px 15px;
  }
  #app .home-desc p {
    font-size: 14px;
  }
  #app .home-desc h3 {
    font-size: 28px;
  }
}
.about-hero {
  background-image: url(../img/home-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.about-hero h1 {
  font-size: 55px;
  margin-bottom: 40px;
}
.about-hero a {
  padding: 9px 20px;
  background-color: #cb2d2d;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}
.about-hero a:hover {
  background-color: #ad2727;
}

.about-desc {
  margin: 70px 60px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-desc p {
  margin: 20px;
  font-size: 20px;
}
.about-desc h3 {
  font-size: 40px;
}

@media screen and (max-width: 440px) {
  #app .about-hero h1 {
    font-size: 35px;
  }
  #app .about-hero a {
    padding: 8px 15px;
  }
  #app .about-desc p {
    font-size: 14px;
  }
  #app .about-desc h3 {
    font-size: 28px;
  }
}
.products-hero {
  background-image: url(../img/home-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 520px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}
.products-hero h1 {
  font-size: 55px;
  margin-bottom: 40px;
}
.products-hero a {
  padding: 9px 20px;
  background-color: #cb2d2d;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
}
.products-hero a:hover {
  background-color: #ad2727;
}

.products-desc {
  margin: 70px 60px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.products-desc p {
  margin: 20px;
  font-size: 20px;
}
.products-desc h3 {
  font-size: 40px;
}

@media screen and (max-width: 440px) {
  #app .products-hero h1 {
    font-size: 35px;
  }
  #app .products-hero a {
    padding: 8px 15px;
  }
  #app .products-desc p {
    font-size: 14px;
  }
  #app .products-desc h3 {
    font-size: 28px;
  }
}
h1 {
  text-align: center;
  margin: 20px 0;
}

form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
}
form .Send-Button {
  padding: 9px 20px;
  background-color: #cb2d2d;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
