h1{
    text-align: center;
    margin: 20px 0;
}

form{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 50px;
    .Send-Button {
        padding: 9px 20px;
        background-color: #cb2d2d;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }
}